<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Baloo+2:wght@700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../Style/SignupParent.css">
    <link rel="stylesheet" href="../Style/Variables.css">
    <script src="../Script/SignupParent.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <div class="logo-icon">✦</div>
        Miro
      </a>
    </nav>

    <main>
      <div class="page-center">
        <div class="register-card">
          <div class="card-header-block">
            <h1 class="card-title">Create your family account</h1>
            <p class="card-subtitle">A safe place to grow healthy habits together</p>
          </div>

          <label>Name</label>
          <div class="input-wrap">
            <input type="text" class="form-input" placeholder="Sarah" id="nameInput"/>
          </div>

          <label>Email</label>
          <div class="input-wrap">
            <input type="email" class="form-input" placeholder="email@mail.com" id="emailInput"/>
          </div>

          <label>Password</label>
          <div class="input-wrap">
            <input type="password" class="form-input" placeholder="••••••••" id="passwordInput"/>
            <img class="toggle-pass" id="toggleBtn" onclick="togglePassword()" src="../Assets/img/icon-eye-open.png" alt="Show/Hide password" >
          </div>
          <button class="btn-register" onclick="handleRegister()">Create my account <span>→</span></button>
          <p class="terms-text">By creating an account, you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</p>
          <p class="card-footer-text"> Already have an account? <a href="LoginParent.html">Log in</a></p>
        </div>
      </div>
    </main>
  </body>
</html>